{% extends "myblog_Layout.html.twig" %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Oups, petit problème</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    
{% endblock %}
   